/* .banner{
    display: flex;
  background-image:url(../public/carwash.jpg);
  width: 200px;
  height: 200px;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 25px;
  text-align: center;
} */